<a href="https://colab.research.google.com/github/Harkeerat-Pathak/Adult-income-prediction-/blob/main/assignment1_Harkeerat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 1: The data life cycle + Summary statistics**

In this week's assignment we will review the data life cycle with a particular application, as well as review some practical and fundamental concepts of statistics.

## **Description**

An individual’s annual income results from various factors. Intuitively, it is influenced by the individual’s education level, age, gender, occupation, and etc.

## **Exercise 1: Data life cycle**

To study the relationship of different variables to the annual income of worldwide workers, you will need to design the entire data plan for the project.

This plan should cover everything from the mechanisms that will be used to collect data from workers, the storage architectures, the identification of errors or inconsistencies that we foresee may occur more frequently, and the specific question we want to answer. The plan will end once the solution to the main goal is obtained and the results have been shared.

Describe all the individual phases your data project should follow and give a brief description of the technical details in each phase. You should customize each phase to the proposed dataset and problem.

*_*1. Business Understading: To investigate the annual income of the workers and study how different features can influence its calculation.

2. Data Mining: In this part the data is collected and saved in structured format. Here data is saved in CSV format for better processing. The dataset contain 48842 rows × 15 columns(features).

3. Data Cleaning: I can see ? in various column like occupation, workclass and native-country etc. For the purpose of analysis theis type should be clean.

4. Feature Engineering: There exist features which do not play a significant role in synthesis and they can be dropped. If I am not wrong race feature has no effect on the datset

5. Data Modeling: It is a supervised learning problem because we have labels. Also this problem is related to cost so it is a Regression problem. So the models like linear regression, decision tree can be used

6. Data Visualization. For better and impactful understanding data is visualized using various plots.

## **Exercise 2: Central tendency and dispersion**

Once the data has been collected and preprocessed, we are interested in knowing what workers are paid according to different dimensions: their age, their job position, their level of education, ... To do this, it is necessary to use some statistical metrics such as central tendency and dispersion.

We start by loading the dataset we will be working with. Remember that in order to start working with Google Colab you must **Connect to a runtime environment**.

Then you must go to the **Files** folder (in the left panel), where you must upload the csv attached to this assignment.

In [4]:
from google.colab import files
upload_file=files.upload()

Saving adult.csv to adult.csv

In [5]:
import pandas as pd

dataset = pd.read_csv('adult.csv')

**Exercise:** Make a brief preliminar inspection of the dataset, indicating the number of records, the number of descriptors, and the name of the descriptors. If you identify a descriptor that should not appear in the dataset, remove it.

In [7]:
# dataset.info
print('Dataset has {} records and {} descriptors'.format(*dataset.shape))
print(dataset.columns)
dataset

Dataset has 48842 records and 15 descriptors
Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

**Exercise:** Show a random selection of some records from the dataset. This will help you to perform a preliminary visual inspection to confirm that the data has been loaded correctly.

In [16]:
dataset['age'].head()

0    25
1    38
2    28
3    44
4    18
Name: age, dtype: int64

In [17]:
dataset.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

To determine the mean, median, and standard deviation for the descriptors of a quantitative nature we will use the _describe()_ method on pandas DataFrame object.

In [10]:
dataset.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

The 50% attribute indicates the value located in the ordered half of the attribute, which is associated with the median.

Note that for the **capital-gain** and **capital-loss** attributes the mean and median values (both central tendency values) are very different.

**Exercise:** What is the reason for this difference?

**Hint:** You may find it useful to visualize the ordered values of these variables.

Mean and median values are different. Reason for median value (50%) to be zero is that most of the data entries in the columns capital-gain and capital-loss are 0.
I know that median is calulated as middle value and if data entry around central part is 0 so is the median

**Exercise:** What is the mean and standard deviation of the **capital-gain** attribute as a function of the worker's level of education? Order the results by educational level (you may use the **educational-num** descriptor) and interpret the results obtained.

**Hint:** Use the _groupby()_ method of the pandas DataFrame object.

In [29]:
# Load the adult dataset into a Pandas DataFrame
df = pd.read_csv('adult.csv')

# Group the data by the education-num attribute and calculate the mean and standard deviation of the capital-gain attribute in each group
grouped = dataset.groupby('educational-num')['capital-gain'].agg(['mean', 'std'])



# Sort the results by the education-num column
sorted_results = grouped.sort_values('educational-num')

# Print the sorted results
print(sorted_results)

                         mean           std
educational-num
1                  732.000000   4798.968314
2                  123.591093    750.627866
3                  360.365422   4512.388159
4                  242.626178   1030.560526
5                  313.398148   3736.769093
6                  323.049676   4106.377612
7                  203.739514   1191.285890
8                  208.579909   1383.857230
9                  573.314179   4952.769963
10                 559.961574   4474.465161
11                 778.602135   4513.887224
12                 636.951905   3511.958827
13                1762.564984   9356.415141
14                2583.605947  11248.829635
15               10586.467626  27261.781745
16                5727.769360  19570.677258

The results obtained from the adult dataset show that there is a positive correlation between education level and capital gain. This is evidenced by the fact that the mean capital gain increases as the education level increases. For example, the mean capital gain is highest for higher degree.  Overall, the results suggest that education level is an important factor in determining the capital gain of workers in the adult dataset.

## **Exercise 3: Unconditional probability**

For all of the following exercises, the calculation of probabilities should be automatic and adaptive to the increase or decrease of records in the dataset.

**Exercise:** What is the probability that a worker randomly chosen from the dataset is a black male and earns more than 50k per year?

In [31]:
# Your answer here

num_total = dataset.shape[0]
num_group = dataset[(dataset['gender'] == 'male') &
                    (dataset['race'] =='black') &
                    (dataset['income'] == '>=50K')].shape[0]

print(num_group / num_total)

0.0

It looks wiered from the result or I have done some mistake that there is no black male with salary more than 50K.

**Exercise:** What is the probability that a worker randomly chosen from the dataset is a female under 30 years old, married, and earns less than 50k per year?

In [30]:
# Your answer here
num_total = dataset.shape[0]
num_group = dataset[(dataset['gender'] == 'Female') &
                    (dataset['age'] < 30) &
                    ((dataset['marital-status'] == 'Married-civ-spouse') |
                     (dataset['marital-status'] == 'Married-AF-spouse') |
                     (dataset['marital-status'] == 'Married-spouse-absent')) &
                    (dataset['income'] == '<=50K')].shape[0]

print(num_group / num_total)

0.009766184840915605